input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=number],
input[type=date],
select,
textarea {
  font-size: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #{$gray-100};
  /* TODO rePLACE WITH THEME COLOR */
  color: #{$accent-dark};
  line-height: 1.5rem;
  padding: 0.625rem 1.875rem;
  background-color: #{$white};
  transition: border .25s, background-color 0.5s, color .25s;
}
input[type=button], input[type=submit]{
  width:auto;
}

.form-type-select {
  // For the dropdown-toggle we don't use the before
  .dropdown > .btn.dropdown-toggle {
    --bs-btn-border-color: #{$gray-100};
    --bs-btn-color: #{$accent-dark};
    line-height: 1.5rem;
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: border .25s, background-color 0.5s, color .25s;
    &:hover {
      background-color: map-get($theme-colors,"primary");
      color: #{$white};
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
  }

  select  {
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: border .25s, background-color 0.5s, color .25s;
    &:hover {
      background-color: map-get($theme-colors,"primary");
      color: #{$white};
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
    &:before {
      display: block;
      position: absolute;
      background-color: #002f86;
      width: 1px;
      top: 16px;
      right: 60px;
      bottom: 16px;
      content: "";
      opacity: .3;
    }
  }
}

.form-row > div.form-actions {
  padding-right: 0;
}


